body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3, {
  font-family: "Dosis", sans-serif;
  letter-spacing: 0.07rem;
}