.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.no-wrap-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;	
}
.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
}

.columns, .column {
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
  margin: 10px 0 10px 4%;
}

.column:first-child,
.columns:first-child {
  margin-left: 0;
}

.one {
  max-width: 4.6666666667%;
}

.two {
  max-width: 13.3333333333%;
}

.three {
  max-width: 22%;
}

.four {
  max-width: 30.6666666667%;
}

.five {
  max-width: 39.3333333333%;
}

.six {
  max-width: 48%;
}

.seven {
  max-width: 56.6666666667%;
}

.eight {
  max-width: 65.3333333333%;
}

.nine {
  max-width: 74%;
}

.ten {
  max-width: 82.6666666667%;
}

.eleven {
  max-width: 91.3333333333%;
}

.twelve {
  max-width: 100%;
  margin-left: 0;
}

body {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3, {
  font-family: "Dosis", sans-serif;
  letter-spacing: 0.07rem;
}

/* specific */
.img-container {
  width: 300px;
	height: 454px;
}
.out-of-flow {
  height: 454px;
  background: black;
	position: absolute;
	top: -20%;	
}

.header {
	width: 100%;
	height: 150;
	background-color: grey;
}

.news-container {
  margin-top: 35px;
}

.news-item{
  min-height: 3rem;
  background: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.small-img {
  width: 80px;
  height: 60px;
  background-color: #d8d8d8;
}

.news-row {
	margin-left: 35px;
}

.hot-news {
  width: 200px;
  height: 60px;
	padding: 10px;
  background-color: #ffffff;
  position: absolute;
  top: 35px;
  left: 50%;
  border-bottom: 10px solid blue;
}

/* FOR i-PAD */
@media screen and (max-width: 770px) {
  .columns, .column {
    min-width: 95%;
    margin: 10px 0;
  }
  .news-container {
    margin-top: 0px;
    margin-left: -3;
    position: absolute;
    top: -20%;
    left: 41%;
    background: white;
  }
  .news-item {
  	flex-direction: row;
  }
  .hot-news {
    top: 390px;
    left: 0%;
  }
}

/* for mobile devices*/
@media screen and (max-width: 417px) {
	.img-container {
		display: none;
	}
	.out-of-flow: {
		display: none;
	}
  .columns, .column {
    min-width: 100%;
    margin: 10px 0;
  }
  .news-container {
    margin-left: 0;
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    background: white;
  }
  .news-row {
  	margin-left: 0;
  }
}

html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}