.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.no-wrap-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;	
}
.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
}

.columns, .column {
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
  margin: 10px 0 10px 4%;
}

.column:first-child,
.columns:first-child {
  margin-left: 0;
}

.one {
  max-width: 4.6666666667%;
}

.two {
  max-width: 13.3333333333%;
}

.three {
  max-width: 22%;
}

.four {
  max-width: 30.6666666667%;
}

.five {
  width: 39.3333333333%;
}

.six {
  max-width: 48%;
}

.seven {
  max-width: 56.6666666667%;
}

.eight {
  max-width: 65.3333333333%;
}

.nine {
  max-width: 74%;
}

.ten {
  max-width: 82.6666666667%;
}

.eleven {
  max-width: 91.3333333333%;
}

.twelve {
  max-width: 100%;
  margin-left: 0;
}


/* specific */
.img-container {
  height: 454px;
}
.out-of-flow {
  background-color: #d8d8d8;
  height: 454px;
  position: absolute;
  top: -20%;
}

.header {
	width: 100%;
	height: 150;
	background-color: #eeedef;
}

.news-container {
  margin-top: 35px;
}

.news-item{
  min-height: 3rem;
  background: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.small-img > img{
  width: 100px;
  height: 75px;
}

.news-row {
	margin-left: 35px;
}

.hot-news {
  width: 200px;
  height: 63px;
	padding: 10px;
  background-color: #ffffff;
  position: absolute;
  top: -12%;
  left: 28%;
  border-bottom: 10px solid blue;
  cursor: pointer;
}
.hot-news > h4 {
  margin-bottom: 5px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;  
}
/* FOR i-PAD */
@media screen and (max-width: 770px) {
  .columns, .column {
    min-width: 95%;
    margin: 10px 0;
  }
  .news-container {
    margin-top: 0px;
    margin-left: -3;
    position: absolute;
    top: -20%;
    left: 41%;
    background: white;
  }
  .news-item {
  	flex-direction: row;
  }
  .hot-news {
    top: 67%;
    left: 2%;
  }
}

/* for mobile devices*/
@media screen and (max-width: 520px) {
	.img-container {
		display: none;
	}
	.out-of-flow: {
		display: none;
	}
  .columns, .column {
    min-width: 100%;
    margin: 10px 0;
  }
  .news-container {
    margin-left: 0;
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    background: white;
  }
  .news-row {
  	margin-left: 0;
  }
  .hot-news {
    top: -40%;
    left: 44%;
  }
  .small-img > img {
    max-height: 68px
  }
}
